# **Data Wrangling**

## Objectives

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("data/m1_survey_data.csv")

## Identify Duplicates

In [3]:
df[df.duplicated()].shape[0]

154

## Remove Duplicates

In [4]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [5]:
df[df.duplicated()].shape[0]

0

## Find Missing values

In [6]:
df.isnull()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11547,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11548,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11549,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11550,False,False,False,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,False,False
11551,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Find out how many rows are missing in the column 'WorkLoc'

In [7]:
df[df['WorkLoc'].isnull()].shape[0]

32

## Impute missing values

Find the  value counts for the column WorkLoc.

In [8]:
df['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [9]:
df['WorkLoc'].value_counts().idxmax()

'Office'

In [10]:
display(df['Employment'].value_counts().idxmax())
display(df['UndergradMajor'].value_counts().idxmin())

'Employed full-time'

'A health science (ex. nursing, pharmacy, radiology)'

Impute (replace) all the empty rows in the column WorkLoc with the value identified as majority.

In [11]:
df['WorkLoc'].fillna(df['WorkLoc'].value_counts().idxmax(), inplace=True)

Verify if imputing was successful.

In [12]:
df[df['WorkLoc'].isnull()].shape[0]

0

## Normalizing data

<hr>

List out the various categories in the column 'CompFreq'

In [13]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [14]:
def calc_norm_comp(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return row['CompTotal']

df['NormalizedAnnualCompensation'] = df.apply(calc_norm_comp, axis=1)

In [15]:
df['NormalizedAnnualCompensation'].median()

100000.0

In [16]:
df[['CompFreq','CompTotal','NormalizedAnnualCompensation','ConvertedComp']]

      CompFreq  CompTotal  NormalizedAnnualCompensation  ConvertedComp
0       Yearly    61000.0                       61000.0        61000.0
1       Yearly   138000.0                      138000.0        95179.0
2       Yearly    90000.0                       90000.0        90000.0
3      Monthly    29000.0                      348000.0       455352.0
4       Yearly    90000.0                       90000.0        65277.0
...        ...        ...                           ...            ...
11547   Yearly   130000.0                      130000.0       130000.0
11548   Yearly    74400.0                       74400.0        19880.0
11549   Yearly   105000.0                      105000.0       105000.0
11550   Yearly    80000.0                       80000.0        80371.0
11551      NaN        NaN                           NaN            NaN

[11398 rows x 4 columns]